<h2 class="title">Events</h2>
<div class="event_list">
    <div *ngFor="let live_event of event_list; index as i;" class="event_card bg-slate-800 hover:bg-red-950">

        <a class="event_header" routerLink="/" routerLinkActive="active">
            <img class="event_thumbnail" *ngIf="live_event.image_url"
                src="{{live_event.image_url}}">{{live_event.title}}</a>
        <p>Starts: {{live_event.start_date}}</p>
        <p>Ends: {{live_event.end_date}}</p>
        <p *ngIf="!live_event.venue_address">@ {{live_event.venue_name}}</p>
        <a *ngIf="live_event.venue_address" target="blank"
            href="https://www.google.com/maps/place/{{live_event.venue_address}}">{{live_event.venue_name}}<br>
            {{live_event.venue_address}}<br>{{live_event.venue_city}}, {{live_event.venue_state}},
            {{live_event.venue_zip_code}} </a>
        <p>{{live_event.short_description}}</p>
        <p> Website: <a *ngIf="live_event.venue_url" target="blank" href="{{live_event.venue_url}}">Click here</a></p>

        <p>{{live_event.venue_phone}} </p>


    </div>

</div>
<!-- 
<li *ngFor="let item of character.items; index as i;" class="equipment">
    <button class="backpackItem" type="button" (click)="onSelect(item, i)">{{item.name}}</button>
  </li> -->