.relative {
background-image: URL("/assets/img/Enchanted Evening.jpg");    
}

.card {
    margin-inline: auto;
    max-width: 60rem;
    margin-top: 2rem;
}


.event_header {
    /* font-size: 3rem; */
    @apply grid grid-cols-3 text-4xl content-between flex-wrap justify-between mb-2 border-none;
}

.event_thumbnail {
    display: inline-block;
    max-width: 5rem;
    max-height: 5rem;
}

.venue_link {
    text-decoration: underline;
}

p {
    @apply text-center;
}

.mapLink {
    @apply text-center block mt-2;
}

h3 {
    @apply inline-block;
}

.address {
    @apply text-left
}

/* .eventDisplay {
    text-align-last: justify ;
    @apply inline-flex;
} */

.eventDate {
    @apply text-right;
}

.eventTime {
    @apply text-right;
}

.line {
    grid-column: 1 / 4;
}

.pageTitle {
    @apply text-5xl text-center my-2 mb-20
}