
<div class="relative bg viewer" title="Charles McCall in an otherwordly red garden,
barefoot, playing his original songs.">
<div class="container mx-auto pb-16 pt-4">
    <h1 class="text-5xl text-center  my-20">Events</h1>
    <!-- <div class="h-60"></div> -->
<!-- <app-card *ngFor="let show of show_list" [show]="show" [control]="showControl" class="p-3 mt-20"></app-card>  -->
<div *ngFor="let show of show_list" class="card">
    <a class="event_header" routerLink="/event/{{show.id -1}}" routerLinkActive="active">
        <p class="event_header">
            
            <img class="event_thumbnail mr-4 mb-2" *ngIf="show.image_url"
                src="{{show.image_url}}">{{show.title}}
            </p>
        </a>
        <a *ngIf="show.venue_address; else justName" target="blank"
        href="https://www.google.com/maps/place/{{show.venue_name}}"> 
        {{show.venue_address}}, {{show.venue_city}}, {{show.venue_state}}, {{show.venue_zip_code}} </a>
        <!-- </a> -->
     <p class="text-2xl">{{show.start_date.toDateString()}}</p> 
    <p class="mb-3">{{show.start_date.toLocaleTimeString('en-us')}} - {{show.end_date.toLocaleTimeString('en-us')}}</p> 
    <!-- <p class="mb-3">{{show.start_date.toTimeString()}} - {{show.end_date.toLocaleTimeString('en-us')}}</p>  -->
    <p class="mb-2">{{show.description}}</p>
    <!-- <p class="text-2xl">Venue:</p> -->
    <ng-template #justName>
        <p>{{show.venue_name}}</p>
    </ng-template>
    <p> Website: <a *ngIf="show.venue_url" target="blank" href="https://{{show.venue_url}}"> {{show.venue_url}} Click here</a></p>
    
    <p>Phone: {{show.venue_phone}} </p>
    </div>

</div>

</div>