.left-side {
    max-width: 50%;
    min-width: 375;
}

.right-side {
    /* margin-left: 50%; */
    max-width: 40%;
    min-width: 380px;
}

.bio-image {
    object-fit: scale-down;
    width:50vw;
    height: 100vh;
    margin-inline: auto;
    /* border: 2px solid rgb(0, 0, 0); */
    background-color: rgba(0, 0, 0, 0.432);
    box-shadow: inset 0px 0px 20px 15px rgba(0, 0, 0, 0.432);
    border-radius: 3px;
}

.container {
    display: flex;
    background-color: rgba(53, 53, 53, 0.658);
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    gap: 30px;
    padding: 20px;
}

.text {
    max-width: 90%;
    line-height: 2.5rem;
    font-size: 1.5rem;
    margin-inline: auto;
}