<div class="component">

    <div class="left-side">
        <img class="bio-image" src="/assets/img/MichaelHullPromo.jpg" alt="Charles McCall">
    </div>

    <div class="right-side">
        <p class="text">
            I've been everywhere... more or less. After growing up right here in St. Louis I moved to
            Chicago and then New York to study dance.
            I attended the School of American Ballet, the feeder school for the New York City Ballet, before heading
            west to Seattle to dance with the Pacific Northwest Ballet.
            From there I moved to New Zealand to dance with the Royal New Zealand Ballet before returning to the States,
            dancing with SD | Prism Dance Theatre and Emery LeCrone Dance
            before focusing more on my singing. I began auditioning for musicals and joined the first national tour of
            Aladdin. After a year of high kicks in Agrabah I moved on
            to Jesus Christ Superstar's 50th anniversary tour. The pandemic gave me time to breathe, think, and
            reevaluate which has lead to my current incarnation:
            a man with a guitar in his hand and a song on his lips.
        </p>
    </div>

</div>