<h2 class="title">Patrons</h2>
<div class="list">
    <div *ngFor="let patron of patron_list; index as i;" class="card">

        <a class="header" routerLink="/" routerLinkActive="active">
            {{patron.first_name}} {{patron.last_name}}</a>
        <p>Email: {{patron.email}}</p>
        <p>Admin: {{patron.is_admin}}</p>
        <p>Donations <br> 
            One Time: {{patron.one_time_donations}}<br>
        Monthly: {{patron.recurring_donations}} </p>
        <!-- <p *ngIf="setlist.album">From: {{setlist.album}}</p>
        <p *ngIf="setlist.year">Year: {{setlist.year}}</p>
         <p *ngIf="setlist.album">By: {{setlist.artist}}</p> -->
        
    </div>

</div>