<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<div class=" bg-black">
    <b class="">wait for some time and Navigate trhough the header to see the changes</b>
    <br>Time Spent on separate pages
    <p *ngFor="let pageinfo of timeSpentOnPages" class="">
        <b>Page Name: {{pageinfo.pageUrl}}</b> <br>
        <b>Time Spent: {{pageinfo.timeSpent}}</b> <br>
        <!-- <b>Time Spent: {{pageinfo.timeSpent.getUTCHours()}}</b> -->
    </p>

</div>
<app-footer></app-footer>

<!-- <p class="text-3xl bg-black absolute min-w-full bottom-0">&#169; 2023 Charles McCall</p> -->