<h1 class="title">{{title}}</h1>

<div class="container">
    <div class="blurb">
    <p>I've spent a decade performing all over the world, learning how different people 
        communicate, and what makes them tick. Now my code does the traveling and I stay in one place. 
    I build programs in C#/.NET, TypeScript and Angular, Python, and even JavaScript on occasion, write songs
    and build clothes and jewelry out of leather.

    Oh yeah, and I make games!  Check out my projects below, or click the link in the nav bar, login, and start to explore the world of Kraethor.
</p></div>
    <a class="headline" href="https://github.com/Nephilus-notes"  target="_blank" rel="noopener noreferrer">My Github</a>

    <div class="flex">
        <div class="left card">Legacy version of The Dragon's Tail with pixel graphics. A game about one young goblin's 
            quest to claim their place as an adult by defeating the Graith Trees 
            that keep the goblins living in fear underground and reuniting with their aboveground brethren.</div>
        <div class="right card">
            <a href="https://github.com/Nephilus-notes/The-Dragon-s-Tail"  target="_blank" rel="noopener noreferrer">Dragon's Tail Retro Game</a>
        </div>
    </div>
    <div class="flex">
        <div class="left card">
            A facebook of songwriting, this helps you keep all your song materials in one place and helps you share it
            when you're ready! Want some feedback from a friend? Send a private link to your friend.  Want to get your 
            song out there? Make it public and people can listen, ready lyrics, and even give feedback! Built in .NET using C# and Razor Pages.

        </div>
        <div class="right card">
            <a href="https://github.com/Nephilus-notes/Raindish"  target="_blank" rel="noopener noreferrer">Raindish Song Collaboration Site</a>
        </div>
    </div>

    <div class="flex">
        <div class="left card">A simple quiz to test your knowledge of pokemon.  
            Made in JavaScript, once you've completed you can see all your right or wrong answers with a click of a button.</div>
        <div class="right card">
            <a href="https://github.com/Nephilus-notes/poke-quiz"  target="_blank" rel="noopener noreferrer">Reactive Pokemon Quiz </a>

        </div>
    </div>

    <!-- <app-user-profile></app-user-profile> -->

    <!-- <div *ngFor="let song of musicUrlList; index as i;"></div> -->

    <!-- <h3 class="SongTitle">Everything But Desire by Charles McCall</h3>
    <iframe class="musicFrame" frameborder="0" width="450" height="50"
    src="https://drive.google.com/file/d/1wD7Beul2z8LMgrgPnG33Ik0kuIuNKF1A/preview"></iframe> -->
</div>