<div class="component bg-black">
  <nav class="navbar ">
    <div class="flexRow bg-slate-50">
      <a class="homeLink movingBackgroundLeft" routerLink="/">Charles McCall</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="movingBackgroundRight nav-link active" aria-current="home" routerLink="/"
            routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="movingBackgroundRight nav-link active" aria-current="Dragon's Tail Game" routerLink="/bio"
            routerLinkActive="active">Bio</a>
        </li>
        <li class="nav-item">
          <a class="movingBackgroundRight nav-link active" aria-current="Dragon's Tail Game" routerLink="/events"
            routerLinkActive="active">Events</a>
        </li>
        <li class="nav-item">
          <a class="movingBackgroundRight nav-link active" aria-current="Dragon's Tail Game" routerLink="/materials"
            routerLinkActive="active">Hear Me Now</a>
        </li>
        <li class="nav-item">
          <a class="movingBackgroundRight nav-link active" aria-current="Dragon's Tail Game" routerLink="/materials"
            routerLinkActive="active">Hear Me Now</a>
        </li>
        <!-- 
          <li class="nav-item">
            <a class="movingBackgroundRight nav-link" ria-current="Dragon's Tail Game" routerLink="/startgame">Load Game</a>
          </li> -->
        <!-- <app-auth-button></app-auth-button> -->

      </ul>
    </div>
  </nav>
</div>