<nav class="navbar navbar-expand-lg bg-light">
    <div class="flexRow">
        <a class="homeLink movingBackgroundLeft" routerLink="/">Charles McCall</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="movingBackgroundRight nav-link active" aria-current="home" routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="movingBackgroundRight nav-link active" aria-current="Dragon's Tail Game" routerLink="/bio" routerLinkActive="active">Bio</a>
          </li>
          <li class="nav-item">
            <a class="movingBackgroundRight nav-link active" aria-current="Dragon's Tail Game" routerLink="/events" routerLinkActive="active">Events</a>
          </li>
          <li class="nav-item">
            <a class="movingBackgroundRight nav-link active" aria-current="Dragon's Tail Game" routerLink="/materials" routerLinkActive="active">Hear Me Now</a>
          </li>
<!-- 
          <li class="nav-item">
            <a class="movingBackgroundRight nav-link" ria-current="Dragon's Tail Game" routerLink="/startgame">Load Game</a>
          </li> -->
          <!-- <app-auth-button></app-auth-button> -->
         
        </ul>
    </div>
  </nav>