.navbar {
    max-width: 1300px;
    margin-inline: auto;
    /* box-shadow: 5px 5px 15px 15px rgba(255, 255, 255, 0.25), -5px -5px 15px 15px rgba(0, 0, 0, 0.25);
    margin: 20px; */
}

.flexRow {
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    border-radius: 20px;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
    gap:20px
}

.navbar-nav {
    display: flex;
    background-color: black;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

.movingBackgroundRight {
box-shadow: inset 2px 2px 2px 3px rgba(171, 171, 171, 0.25), inset -2px -2px 2px 3px rgba(6, 6, 6, 0.25);
    background-image: linear-gradient(75deg, black, rgb(17, 5, 84), rgb(3, 79, 79), rgb(44, 6, 105));    background-position: right;
    background-position: left; 
    background-size: 800%;
    animation: bganimation 20s infinite alternate;
    background-repeat: none;
    text-rendering: optimizeSpeed;
}

.movingBackgroundLeft {
 box-shadow: inset 2px 2px 2px 3px rgba(179, 179, 179, 0.25), inset -2px -2px 2px 3px rgba(6, 6, 6, 0.25);
    background-image: linear-gradient(275deg, black, rgb(17, 5, 84), rgb(3, 79, 79), rgb(44, 6, 105));    background-position: left;
    background-position: left; 
    background-size: 800%;
    animation: bganimation 60s infinite alternate;
    background-repeat: none;
    text-rendering: optimizeSpeed;
}
.homeLink {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    font-size: 2rem;
    padding:12px;
    border-radius: 10px;
    max-width: fit-content;
    margin-inline: auto;
   }


.nav-link {
    padding: 10px;
    border-radius: 30px;
    
}

.nav-item {
    list-style-type: none;
}

li {
    background-color: black;
}
a {
    text-decoration: none;
}
a:link {
    color: green
}

a:visited {
    color:teal
}
a:hover {
    color:antiquewhite
}
a:active {
    color:yellow
}


@keyframes bganimation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
  }