<div class="component">
  <nav class="navbar max-w-{1300px} mx-auto p-2">
    <div class="flexRow bg-slate-50">
      <a class="homeLink button movingBackgroundLeft" routerLink="/">Charles McCall</a>
      <ul class="navbar-nav justify-evenly sm:justify-center sm:gap-8">
        <li>
          <a class="movingBackgroundLeft button active" aria-current="home" routerLink="/"
            routerLinkActive="active">Home</a>
        </li>
        <li>
          <a class="movingBackgroundLeft button active" aria-current="Dragon's Tail Game" routerLink="/bio"
            routerLinkActive="active">Bio</a>
        </li>
        <li>
          <a class="movingBackgroundLeft button active" aria-current="Dragon's Tail Game" routerLink="/performances"
          routerLinkActive="active">Events</a>
        </li>
        <li>
          <a class="movingBackgroundLeft button active" aria-current="Dragon's Tail Game" routerLink="/listen-online"
            routerLinkActive="active">Hear Me</a>
        </li>

        <li>
          <a class="movingBackgroundLeft button active" aria-current="Dragon's Tail Game" routerLink="/subscribe"
            routerLinkActive="active">Be in the know</a>
        </li>
        <li>
          <a class="movingBackgroundLeft button active" aria-current="Dragon's Tail Game" routerLink="/request"
            routerLinkActive="active">Requests</a>
        </li>

        <!-- <span class="relative flex h-3 w-3">
          <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"></span>
          <span class="relative inline-flex rounded-full h-3 w-3 bg-sky-500"></span>
        </span> -->

        <!-- 
          <li>
            <a class="movingBackgroundLeft button" ria-current="Dragon's Tail Game" routerLink="/startgame">Load Game</a>
          </li> -->
        <!-- <app-auth-button></app-auth-button> -->

      </ul>
    </div>
  </nav>
</div>