.component {
    @apply bg-black absolute top-0 z-10 w-full;
}


.flexRow {
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    border-radius: 20px;
    justify-content: space-between;
    flex-direction: column;
    /* margin-bottom: .8rem; */
    /* box-shadow: 5px 0px 5px 15px black; */
    gap:20px
}
.navbar-nav {
    display: flex;
    /* gap: 30px; */
    align-items: center;
    /* justify-content: center; */
    padding: 10px;

}

.movingBackgroundRight {
box-shadow: inset 2px 2px 2px 3px rgba(171, 171, 171, 0.25), inset -2px -2px 2px 3px rgba(6, 6, 6, 0.25);
background-image: linear-gradient(275deg, black, rgb(17, 5, 84), rgb(3, 79, 79), rgb(44, 6, 105));    background-position: left;
background-position: left; 
    background-size: 800%;
    animation: bganimation 2s infinite alternate;
    background-repeat: none;
    text-rendering: optimizeSpeed;
}

.movingBackgroundLeft {
 box-shadow: inset 2px 2px 2px 3px rgba(179, 179, 179, 0.25), inset -2px -2px 2px 3px rgba(6, 6, 6, 0.25);
    background-image: linear-gradient(275deg, black, rgb(111, 111, 111), rgb(148, 148, 148), rgb(24, 24, 24));    background-position: left;
    background-position: left; 
    background-size: 800%;
    animation: bganimation 6s infinite alternate;
    background-repeat: none;
    text-rendering: optimizeSpeed;
}

.movingBackgroundLeft:hover {
    animation: bganimation 2s infinite alternate;
    background-repeat: none;
    text-rendering: optimizeSpeed;
}
.homeLink {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    font-size: 2rem;
    padding:12px;
    border-radius: 10px;
    max-width: fit-content;
    margin-inline: auto;
   }


.nav-link {
    padding: 10px;
    border-radius: 30px;
    
}

.nav-item {
    list-style-type: none;
}
a {
    text-decoration: none;
}
a:link {
    color: green
}

a:visited {
    color:darkgray
}
a:hover {
    color:antiquewhite
}
a:active {
    color:yellow
}


@keyframes bganimation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
  }