input {
    display: block;
    margin: 0 auto 2rem auto;
}

/* * {
    margin-bottom: 2rem;
} */

form {
    margin-top: 2rem;
}

.bg {
    background-image: URL("/assets/img/Lonely Stage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}