<!-- <h1 class="mt-6">Subscribe to hear about my shows</h1> -->
<div class= "bg viewer" title="An empty chair waiting in a garden lit for an intimate show.">


<div class="mx-auto container text-center  mt-32">

  <h1 class="p-8 ">Want show details in your email?
  </h1>
     <p class="text-2xl mb-4">

   Subscribe below and I'll make sure you always know where I'm singing next!</p>

   <p>And if you want to request a song <a href="">click here</a> once I've gotten my songlist up.</p>
</div>

<form [formGroup]="subscribeForm" (ngSubmit)="onSubmit()" class="card text-center my-8" id="subscribeForm">

    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName">
  
    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName">

    <label for="phone-number">Phone Number: </label>
    <input id="phone-number" type="phone" name="phone" formControlName="phoneNumber">
    
    <label for="email-address">Email Address: </label>
    <input id="email-address" type="email" name="email" ngModel [email]="true" formControlName="emailAddress">

    <p>Complete the form to enable button.</p>
<button type="submit" [disabled]="!subscribeForm.valid" class="button">Submit</button>
  </form>
</div>
