input {
    display: block;
    margin: 0 auto 2rem auto;
}

/* * {
    margin-bottom: 2rem;
} */

form {
    margin-top: 5rem;
}

.bg {
    background-image: URL("/assets/img/Lonely Stage.jpg");
    @apply h-screen mt-0 pt-12;

}