<h1 class="mt-6">Subscribe to hear about my shows</h1>

<form [formGroup]="subscribeForm" (ngSubmit)="onSubmit()" class="card text-center my-8">

    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName">
  
    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName">
    
    <label for="email-address">Email Address: </label>
    <input id="email-address" type="text" formControlName="emailAddress">

    <p>Complete the form to enable button.</p>
<button type="submit" [disabled]="!subscribeForm.valid">Submit</button>
  </form>

  