input {
    display: block;
    margin: 0 auto 2rem auto;
    @apply text-black;
}
input::placeholder {
    @apply text-gray-500;
}

/* * {
    margin-bottom: 2rem;
} */

form {
    margin-top: 5rem;

}

.bg {
    background-image: URL("/assets/img/Lonely Stage.jpg");
    @apply mt-0 pt-12 p-2;

}