<a class="{{buttonInfo.classes}}" title="{{buttonInfo.title}}" attr.aria-label=" {{buttonInfo.ariaLabel}}"  routerLink="{{buttonInfo.url}}" id="performancesLink"
          routerLinkActive="active">{{buttonInfo.text}}</a>

          <!-- movingBackgroundLeft button active navLink -->
          <!-- closeMenu -->
          <!-- (click)="{{buttonInfo.function()}}" -->
          <!-- aria-current="{{buttonInfo.ariaLabel}}" -->
          <!-- Performance Dates -->
          <!-- /performances -->
          <!-- Events -->
          <!-- {{buttonInfo.classes}} -->
        <!-- {{buttonInfo.ariaLabel}} -->