<div class="viewer p-10 bg generic-bg">
    <div class="card my-36">
        <!-- <a class="event_header" routerLink="/" routerLinkActive="active"> -->
            
                <p class="event_header"><img class="event_thumbnail inline-block" *ngIf="show.image_url"
                src="{{show.image_url}}">{{show.title}}</p>
            <!-- </a> -->
        <p *ngIf="!show.venue_address" class="text-2xl"> {{show.venue_name}}</p>
        <br>
        <a *ngIf="show.venue_address" target="blank"
            href="https://www.google.com/maps/place/{{show.venue_address}}" class="text-sm">
            <!-- {{show.venue_name}}<br> -->
            {{show.venue_address}} {{show.venue_city}}, {{show.venue_state}},
            {{show.venue_zip_code}} </a>
        <p>{{show.start_date.toLocaleTimeString('en-us')}} - {{show.end_date.toLocaleTimeString('en-us')}},
            {{weeks[show.start_date.getDay()]}} {{months[show.start_date.getMonth()]}}
            {{show.start_date.getDate()}}</p>
        <p>{{show.description}}</p>
        <p> Website: <a *ngIf="show.venue_url" target="blank" href="https://{{show.venue_url}}">Click here</a></p>

        <p>{{show.venue_phone}} </p>

    </div>
</div>