input {
    display: block;
    margin: 0 auto 2rem auto;
}

/* * {
    margin-bottom: 2rem;
} */

form {
    @apply mt-20;
}

.bg {
    background-image: URL("/assets/img/1-empty-stage-spotlight-allan-swart.jpg");
    @apply h-screen mt-0 pt-12;
}

.header {
    @apply text-white mt-40;
}