input {
    display: block;
    margin: 0 auto 2rem auto;
}

/* * {
    margin-bottom: 2rem;
} */

form {
    margin-top: 2rem;
}

.bg {
    background-image: URL("/assets/img/1-empty-stage-spotlight-allan-swart.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @apply h-screen mt-0 pt-12;
}

.header {
    @apply text-white mt-0;
}