<div class="bg viewer">

  <h1 class="header">Request a Song</h1>
  
  <form [formGroup]="requestForm" (ngSubmit)="onSubmit()" class="card text-center my-8">
    
    <!-- <label for="requester-name">First Name: </label>
    <input id="requester-name" type="text" formControlName="firstName"> -->
    
    <label for="songTitle">Song Name: </label>
    <input id="songTitle" type="text" formControlName="songTitle">
    
    <label for="songArtist"> Artist: </label>
    <input id="songArtist" formControlName="songArtist">

    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!requestForm.valid" class="button">Submit</button>
  </form>
  </div>