
.hero-image {
    max-width: 100vw;
}

.hero_title {
    font-size: 4rem;
}

#hero-image {
    background-image: URL("/assets/img/GuitarfrombehindByKalenJesse..jpg");
    @apply pt-1 mt-0; 
}


#text {
    @apply rounded-none sm:rounded-lg p-5 lg:p-20 w-full mt-40 sm:mt-60 md:w-2/3 md:mx-auto bg-[rgba(3,3,3,0.75)];
}

h1 {
    line-height: 5rem;
    background-color: rgba(0, 0, 0, 0);
}

p, h3 {
    @apply bg-transparent mb-4
}
.videoLink {
    @apply underline
}