<div id="hero-image" class="bg" title="Charles McCall singing at a wedding with a black guitar">
    <div id="text">
        <h1 class="hero_title">Charles McCall</h1>

        <!-- <h3>Charles McCall</h3> -->
        <p>Singing unique covers and soulful originals, Charles McCall has a voice that
            demands to be heard. From Cash to Cornell, from folk, to rock, to opera,
            Charles has music to reach anyone.</p>
        <br>
        <hr>
        <br>
        <p>Find his performances <a class="videoLink" aria-current="Charles McCall's performance dates"
                routerLink="/performances" routerLinkActive="active">here</a> or the events button in the navigation bar
            above.</p>
        <p>To listen online
            <a class="videoLink" aria-current="Hear Charles Sing" routerLink="/listen-online"
                routerLinkActive="active">here</a>.
        </p>
        <p>
            You can also find him around St Louis at various open mics/jams
            like the Highway 61 Roadhouse on Wednesday nights or the Blue Strawberry on Sunday.</p>
    </div>
</div>