<!-- <p>hero-image works!</p>
<img class="hero-image" src="/assets/img/GuitarfrombehindByKalenJesse..jpg" alt="Charles playing can't help falling in love at a magical wedding."> -->

<div id="hero-image">
    <div id="text">
        <h1>Nephilus</h1>

        <h3>Charles McCall</h3>
        <p>Singing unique covers and soulful originals, Charles McCall has a voice that
            demands to be heard. From Cash to Cornell, from folk, to rock, to opera,
            Charles has music to reach anyone.</p>
    </div>
</div>