/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* You can add global styles to this file, and also import other style files */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

} */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  * {
    @apply text-white
  }
  h1 {
    @apply text-4xl font-bold text-center;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }

  p {
    @apply text-lg;
  }

  li {
    @apply list-none
  }

  /* a {
    @apply text-decoration: none;
} */
a:link {
    @apply text-blue-300
}

a:visited {
    @apply text-white
}
a:hover {
    @apply text-yellow-100
}
a:active {
    color:yellow
}

  .card {
    @apply max-w-4xl mx-auto bg-black bg-opacity-80 rounded-lg p-8;
  }

  button {
    @apply mt-4;
  }

  .button {
    @apply enabled:bg-white enabled:text-black p-2 disabled:text-slate-400 shadow-[inset_2px_2px_2px_3px_rgba(179,179,179,0.25),inset_-2px_-2px_2px_3px_rgba(6,6,6,0.25)];
  }
  
  .viewer {
    @apply mt-36;
  }
  .bg {
    @apply bg-black bg-cover bg-center bg-no-repeat min-h-screen rounded-none;
  }
  :disabled {
    @apply opacity-70 cursor-not-allowed disabled:bg-gray-300 disabled:text-gray-50;
  }
  .generic-bg {
    @apply bg-gradient-to-r from-black via-[rgb(148,148,148)] to-[rgb(24,24,24)];
    /* linear-gradient(275deg, black, rgb(111, 111, 111), rgb(148, 148, 148), rgb(24, 24, 24)); */
  }
}
