/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* You can add global styles to this file, and also import other style files */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

} */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }

  p {
    @apply text-lg;
  }

  .card {
    @apply max-w-4xl mx-auto bg-slate-300 rounded-lg p-8
  }
}
